.main-content {
  @mixin font-playfair-display;
  padding-bottom: 1rem;
  padding-top: 0.5rem;

  @media screen and (width >= 550px) {
    padding-bottom: 4rem;
    padding-top: 3rem;
  }

  > p,
  > h1,
  > h2,
  > h3,
  > ul,
  > ol {
    @media screen and (width >= 550px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 70%;
    }
  }

  img {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  figure {
    margin-bottom: 1.5em;
    margin-top: 1.5em;

    figcaption {
      font-size: 0.8rem;
      line-height: 1.5;
    }

    img {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
