.statistics {
  @mixin section-padding;
  background-color: $color-grey;
  color: $color-white;

  .wrap {
    text-align: center;
  }
}

.statistics-headline {
  @mixin section-headline;
  color: $color-white;
}

.statistics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.statistics-item {
  display: flex;
  flex-direction: column;
}

.statistics-key {
  @mixin font-im-fell-english;
  color: $color-gold;
  font-size: responsive 1.2rem 2.5rem;
  line-height: 1;
  order: 1;
}

.statistics-value {
  @mixin font-im-fell-english;
  font-size: responsive 1.5rem 3.5rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 0.8;
  order: 2;
}
