<figure>
{{ if .Get "url" }}<a href="{{ .Get "url" }}">{{ end }}
{{ if not (in (.Get "lazyload") "false") }}
<img data-src="{{ if in (.Get "src") "http" }}{{ .Get "src" }}{{ else }}{{ .Site.BaseURL }}assets/images/{{ .Get "src" }}.jpg{{ end }}"
  class="lazyload{{ if .Get "class" }} {{ .Get "class" }}{{ end }}"
{{ else }}
<img src="{{ if in (.Get "src") "http" }}{{ .Get "src" }}{{ else }}{{ .Site.BaseURL }}assets/images/{{ .Get "src" }}.jpg{{ end }}"
  {{ if .Get "class" }} class="{{ .Get "class" }}"{{ end }}
{{ end }}
{{ if .Get "alt" }} alt="{{ .Get "alt" }}"{{ end }}
{{ if .Get "title" }} title="{{ .Get "title" }}"{{ end }}
{{ if .Get "width" }} width="{{ .Get "width" }}"{{ end }}
{{ if .Get "height" }} height="{{ .Get "height" }}"{{ end }}
/>
{{ if .Get "url" }}</a>{{ end }}
{{ if .Get "caption" }}
  <figcaption>
    {{ .Get "caption" | safeHTML }}
  </figcaption>
{{ end }}
</figure>
