.archive {
  background-color: var(--color-grey);
  clear: both;
}

.archive-list {
  display: grid;
  font-size: 0;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  margin: 0;
  padding: 0;
}

.archive-item {
  overflow: hidden;
  position: relative;
}

.archive-link {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-indent: 200%;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 10;
}

.archive-image {
  height: auto;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
}

.archive-layer {
  background: var(--color-black);
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  position: relative;

  &:hover {
    & .archive-image {
      opacity: 0.3;
      transform: scale(1.15);
      transition: all 0.3s ease;
    }

    & .archive-info-headline {
      opacity: 1;
      transform: translateX(0);
      transition: all 0.3s ease;
    }

    & .archive-info-meta {
      opacity: 1;
      transform: translateX(0);
      transition: all 0.3s ease;
    }
  }
}

.archive-info-headline {
  color: var(--color-white);
  font-family: 'IM Fell English', serif;
  font-size: responsive 1rem 1.3rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1;
  margin: 0;
  opacity: 0;
  text-transform: uppercase;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.touch .archive-info-headline {
  background-color: var(--color-black);
  display: inline-block;
  opacity: 1;
  padding: 5px;
  transform: translateX(0);
}

.archive-info-meta {
  color: var(--color-gold);
  font-family: 'IM Fell English', serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.archive-info {
  backface-visibility: hidden;
  color: var(--color-white);
  height: 100%;
  left: 0;
  padding: 8% 5%;
  position: absolute;
  top: 0;
  width: 100%;
}
