.article-meta-published,
.article-meta-tags {
  display: inline-block;
}

.article-meta {
  font-family: 'Playfair Display', serif;
  margin-bottom: 2.5rem;
}

.article-meta a {
  color: var(--color-white);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.article-meta > div {
  margin-right: 1rem;
}


.article-meta-label {
  color: var(--color-gold);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;

  &::after {
    content: ": ";
  }
}

.article-meta-value {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}
