.hero {
  background-color: var(--color-dark-blue);
  background-image: url(/assets/images/core/homepage-hero.jpg);
  background-position: 30% 50%;
  background-size: cover;
  height: 100vh;

  .wrap {
    height: 100vh;
    padding: 0;
    position: relative;
    text-align: center;
  }
}

.hero-cover {
  background: linear-gradient(to bottom, rgba(#000000, 0) 0%, rgba(#000000, 0) 40%, rgba(#000000, 1) 100%);
  bottom: 0;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.hero-title {
  bottom: 15vh;
  position: absolute;
  width: 100%;
  z-index: 3;

  &::before,
  &::after {
    background: rgba(#ffffff, 0.3);
    content: "";
    height: 2px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 30%;
  }

  &::before {
    top: -50px;
  }

  &::after {
    bottom: -30px;
  }
}

.hero-movement {
  color: var(--color-gold);
  display: block;
  font-family: 'IM Fell English', serif;
  font-size: responsive 2.75rem 5.5rem;
  font-style: italic;
  line-height: 0.7;
}

.hero-city {
  color: var(--color-white);
  font-family: 'IM Fell English', serif;
  font-size: responsive 2rem 4rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1;
  text-transform: uppercase;
}
