.pagination-label {
  @mixin font-im-fell-english;
  color: $color-gold;
  font-size: responsive 1rem 1.4rem;
  line-height: 1;
}

.pagination-title {
  @mixin font-im-fell-english;
  display: block;
  font-size: responsive 1rem 1.4rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.pagination-link {
  color: $color-white;
  text-decoration: none;

  &:hover {
    color: #5b72ae;
  }
}

.pagination-left {
  text-align: left;
  width: 50%;
}

.pagination-right {
  text-align: right;
  width: 50%;
}
