.post-hero {
  background-color: var(--color-dark-blue);
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  position: relative;

  & .wrap {
    height: 100vh;
    position: relative;
    text-align: center;
  }
}

.post-hero-cover {
  background: linear-gradient(to bottom, rgba(#000000, 0) 0%, rgba(#000000, 0) 40%, rgba(#000000, 1) 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.post-title-container {
  bottom: 15vh;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 3;

  &::before,
  &::after {
    background: rgba(#ffffff, 0.3);
    content: "";
    height: 2px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 30%;
  }

  &::before {
    top: -30px;
  }

  &::after {
    bottom: -30px;
  }
}

.post-title {
  color: var(--color-white);
  font-family: 'IM Fell English', serif;
  font-size: responsive 2rem 4rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
}

.post-meta {
  color: var(--color-gold);
  font-family: 'IM Fell English', serif;
  font-size: responsive 1.2rem 2rem;
}
