.statistics {
  background-color: var(--color-grey);
  color: var(--color-white);
  padding-bottom: 4em;
  padding-top: 3.5em;

  .wrap {
    text-align: center;
  }
}

.statistics-headline {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: var(--color-white);
  display: inline-block;
  font-family: 'IM Fell English', serif;
  font-size: responsive 1rem 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1;
  margin-bottom: 1.2em;
  margin-top: 0;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

.statistics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.statistics-item {
  display: flex;
  flex-direction: column;
}

.statistics-key {
  color: var(--color-gold);
  font-family: 'IM Fell English', serif;
  font-size: responsive 1.2rem 2.5rem;
  line-height: 1;
  order: 1;
}

.statistics-value {
  font-family: 'IM Fell English', serif;
  font-size: responsive 1.5rem 3.5rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 0.8;
  order: 2;
}
