<section id="introduction" class="introduction">
  <div class="wrap">
    <div>
      <div>
        <h3 class="introduction-headline">
          {{ T "introductionHeadline" }}
        </h3>
      </div>
      <div class="introduction-text">
        <p>
          {{ T "introductionText1" }}
        </p>
        <p>
          {{ T "introductionText2" }}
        </p>
      </div>
    </div>
  </div>
</section>
