<section id="introduction" class="introduction">
  <div class="wrap">
    <div>
      <div>
        <h3 class="introduction-headline">
          Über diese Seite
        </h3>
      </div>
      <div class="introduction-text">
        <p>
          Nachdem ich über 10 Jahre in Hamburg gelebt hatte, und trotzdem nur einen kleinen Teil der Stadt kannte, entschloss ich mich
          2015 jeden Stadtteil einzeln zu erkunden.
        </p>
        <p>
          Mit Kamera und Karte durchquere ich jeden der 109 Stadtteile möglichst vollständig, Stadtteil für Stadtteil, Straße für Straße,
          wann immer es das Wetter zulässt.
        </p>
      </div>
    </div>
  </div>
</section>
