<section class="next">
  <div class="wrap">
    <div>
      <h3 class="next-headline">
        {{ T "nextHeadline" }}
      </h3>
      <p class="next-district">
        St. Pauli
      </p>
    </div>
  </div>
</section>
