<section id="statistics" class="statistics">
  <div class="wrap">
    <h3 class="statistics-headline">
      Statistiken
    </h3>
    <div class="statistics-container">
      <div class="statistics-item">
        <span class="statistics-value">
          {{ .Site.Data.statistics.distance }}
        </span>
        <span class="statistics-key">
          Kilometer
        </span>
      </div>
      <div class="statistics-item">
        <span class="statistics-value">
          {{ .Site.Data.statistics.duration }}
        </span>
        <span class="statistics-key">
          Stunden
        </span>
      </div>
      <div class="statistics-item">
        <span class="statistics-value">
          {{ .Site.Data.statistics.count }}
        </span>
        <span class="statistics-key">
          Stadtteile
        </span>
      </div>
    </div>
  </div>
</section>
