<section id="statistics" class="statistics">
  <div class="wrap">
    <h3 class="statistics-headline">
      {{ T "statisticsHeadline" }}
    </h3>
    <div class="statistics-container">
      <div class="statistics-item">
        <span class="statistics-value">
          {{ .Site.Data.settings.statistics.distance }}
        </span>
        <span class="statistics-key">
          {{ T "statisticsDistance" }}
        </span>
      </div>
      <div class="statistics-item">
        <span class="statistics-value">
          {{ .Site.Data.settings.statistics.duration }}
        </span>
        <span class="statistics-key">
          {{ T "statisticsTime" }}
        </span>
      </div>
      <div class="statistics-item">
        <span class="statistics-value">
          {{ .Site.Data.settings.statistics.count }}
        </span>
        <span class="statistics-key">
          {{ T "statisticsDistricts" }}
        </span>
      </div>
    </div>
  </div>
</section>
