{{ define "main" }}
  <div id="hero" class="page-hero">
    <a href="/" class="anker-link">
      <svg class="anker-icon">
        <use xlink:href="#anker"></use>
      </svg>
    </a>
    <div class="page-hero-cover"></div>
    <div class="wrap">
      <div class="page-title-container">
        <h1 class="page-title">
          Stadtteile
        </h1>
      </div>
    </div>
  </div>

  <div class="wrap">
    <section id="content" class="main-content">
      <ul>
        {{ range (where .Data.Pages.ByTitle "Type" "stadtteil") }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </section>
  </div>
{{ end }}
