<footer id="colphon" class="footer">
  <div class="wrap">
    <div class="footer-legal">
      © 2016-{{ now.Format "2006" }},
      <a href="https://stefanimhoff.de" class="footer-legal-link">Stefan Imhoff</a>. {{ T "footerLegal" | safeHTML }}
    </div>
    <nav class="footer-navigation">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-item">
          <a href="/impressum/" class="footer-navigation-link">
            {{ T "footerNavImprint" }}
          </a>
        </li>
        <li class="footer-navigation-item">
          <div>
            {{ T "footerNavLanguage" }}:
            <a href="/" class="footer-navigation-link">
              {{ T "footerNavLanguageDe" }}
            </a>
            <a href="/en/" class="footer-navigation-link">
              {{ T "footerNavLanguageEn" }}
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</footer>
