<footer id="colphon" class="footer">
  <div class="wrap">
    <div class="footer-legal">
      © 2016-{{ now.Format "2006" }},
      <a href="https://www.stefanimhoff.de" class="footer-legal-link">Stefan Imhoff</a>.
    </div>
    <nav class="footer-navigation">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-item">
          <a href="/impressum/" class="footer-navigation-link">
            Impressum
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
