<footer class="footer-meta">

  <div class="wrap">
    <div class="article-meta">
      <div class="article-meta-published">
        <span class="article-meta-label">{{ T "footerMetaPublished" }}</span>
        <span class="article-meta-value">
          {{ .Date.Format "02.01.2006" }}
        </span>
      </div>
    </div>

    {{ partial "pagination" . }}
  </div>

</footer>
