<footer id="colphon" class="footer">
  <div class="wrap">
    <div class="footer-legal">
      © 2016-{{ now.Format "2006" }},
      <a href="https://stefanimhoff.de" class="footer-legal-link">Stefan Imhoff</a>.
      Die Inhalte dieser Seite sind unter einer
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="footer-legal-link">Creative Commons Lizenz</a>
      lizensiert.
    </div>
    <nav class="footer-navigation">
      <ul class="footer-navigation-list">
        {{ range .Site.Menus.main }}
        <li class="footer-navigation-item">
          <a href="{{ .URL }}" class="footer-navigation-link">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>



