<section class="social">
  <div class="wrap">
    <div>
      <h3 class="social-headline">
        Social
      </h3>
      <ul class="social-list">
        <li class="social-list-item">
          <a href="https://www.flickr.com/photos/kogakure/" class="social-link">
            Flickr
          </a>
        </li>
        <li class="social-list-item">
          <a href="https://www.instagram.com/exploringhamburg/" class="social-link">
            Instagram
          </a>
        </li>
        <li class="social-list-item">
          <a href="https://www.pinterest.com/kogakure/" class="social-link">
            Pinterest
          </a>
        </li>
        <li class="social-list-item">
          <a href="https://twitter.com/kogakure" class="social-link">
            Twitter
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
